<!DOCTYPE html>
<html>
    <head>
        <meta charset = "utf-8">
        <title>{{pageTitle}}</title>
    </head>

    <body>
        {{> header }}
        <p>I could use this page to demo some of the things I've worked on!</p>
        {{> footer }}
    </body>
</html>